## Задания по семинару 2

В ячеке под заданием приведите его решение. Для заданий, рассмотренных на семинаре, можете использовать решение полученное на занятии.

-----

0) Получить переменную, содержащую строку со значением равным двум в одиннадцатой степени и вывести ее на экран.

In [1]:
a=2**11
print (a)

2048

1) Наибольшим количеством способов создать строковую переменную, содержащую текст:

It's "My new text"

In [15]:
a=""" It's "My new text" """

In [16]:
print(a)

 It's "My new text"

In [13]:
print(""" It's "My new text" """)

 It's "My new text"

2) Наибольшим количеством способов создать строковую переменную, содержащую текст:

line1

line2

line3

In [12]:
a =' line1 \n\n line2 \n\n line3'
print(a)

 line1

 line2

 line3

3) Наибольшим количеством способов создать строковую переменную, содержащую текст:

\\\\

\\\

\\

\

In [4]:
a=" \\\\\\\\ \n \n \\\\\\ \n \n \\\\ \n \n \\ "
print(a)

 \\\\

 \\\

 \\

 \

4) Вывести 5й с начала и 5й с конца символ из строки 'Hello world'

In [5]:
a='Hello world'
print(a[4])
print(a[-5])

o
w

5) Двумя способами получить символ 'w' из строки 'Hello world'

In [6]:
a='Hello world'
print(a[-5])
print(a[6])

w
w

6) Вывести символ, находящийся в середине заранее неизвестной строки, полученной с помощью функции input().

Пример использования функции input:

In [ ]:
# поместить строку, введенную пользователем, в переменную st
st = input()

In [7]:
str=input()
if len(str)%2==0:
    a=str[len(str)//2-1]
else:
    a=str[len(str)//2]
a

fghjk

'h'

7) Для строки 'Light ray' двумя способами получить подстроку с 1го по 4й символы включительно.

In [24]:
a='Light ray'
print(a[-len(a):-len(a)+4:1])

Ligh

In [18]:
a='Light ray'
print(a[0:4:1])

Ligh

8) Для строки 'My new text' двумя способами получить подстроку с 3го по 7й символы включительно.

In [25]:
a='My new text'
print(a[2:7])

 new

In [26]:
a='My new text'
print(a[ - len(a)+2:-len(a)+7:1])

 new

9) Получить подстроку из последних 4х символов строки 'Light ray'.

In [4]:
a='Light ray' 
print(a[5:len(a)])

 ray

10) Составить строку из всех четных символов строки 'Light ray'.

In [27]:
a='Light ray'
print(a[0::2])

Lgtry

11) Составить строку из всех нечетных символов строки 'Light ray'.

In [28]:
a='Light ray'
print(a[1::2])

ih a

12) Инвертировать (получить строку с обратной последовательностью символо) строку  'Light ray'.

In [2]:
a='Light ray'
print(a[::-1])

yar thgiL

13) Вывести c третьего с начала до предпоследнего символа заранее низвестной строки, полученной с помощью функции input().

In [29]:
b=input()
print(b[2:len(b)-1])

hkbkjip
bkji

14) Получить подстроку неизвестной заранее строки, содержащую половину символов строки и расположенную по середине строки.

In [32]:
d=input()
print(d[len(d)//4:len(d)*3//4])

guigikk
uigi

15) Проверить, содержит ли произвольная строка, прочитанная в обратную сторону последовательность 'eno'

In [34]:
e=input()
e=e[::-1]
'eno'in e

onehjbugki

True

16) Получить строку, начинающуюся с последних 3 символов стркои 'Light ray', а заканчивающуюся подстрокой с 1го до 4го  символа строки.

In [7]:
d="Light ray"
b=d[-3::1]
c=b+d[0:4:1]
c

'rayLigh'

17) Коротко записать создание строки 'oneoneoneoneoneonetwotwotwo'

In [9]:
a='one'*6+'two'*3

In [10]:
a

'oneoneoneoneoneonetwotwotwo'

In [11]:
st = '  one,two,three,four,five,six,seven,eight,nine,ten   '

19) Вставить между всеми символами строки 'Hello world' стрелочку '->' и сохранить результат в строковой переменной.

Ожидаемый результат:

H->e->l->l->o-> ->w->o->r->l->d

In [17]:
str = 'Hello world'
for i in str:
    print(i, end = "->")

H->e->l->l->o-> ->w->o->r->l->d->

20) Для двух произвольных строк провести сравнение на совпадение содержимого без учета регистра букв и начальных и конечных пробельных символов.

Например, для двух строк

In [13]:
st1 = '  HeLLO WOrlD'

In [14]:
st2 = 'hello WORLD  '

такое сравнение должно возвращать True (содержание строк совпадает).

In [18]:
st1 = input()
st2 = input()
st1.replace(' ', '')
st2.replace(' ', '')
st1.lower()
st2.lower()
print(st1 == st2)

gfhcv
 gyihu
False

21) В строке 'hello hello Hello hello' найти индекс второго вхождения подстроки 'hel'

In [21]:
s = 'hello hello Hello hello'
a = s.find('hel')
b = s.find('hel', a + 1)
print(b)

6

22) В строке 'hello hello Hello hello' найти индекс второго С КОНЦА вхождения подстроки 'hel'

In [22]:
s1 = 'hello hello Hello hello'
s2 = s1[-1::-1]
a = s2.find('leh')
b = s2.find('leh', a + 1)
print(b)

14

23) Из заранее неизвестной строки вырезать подстроку, начинающуюся с 'he' и заканчивающееся 'on'. Протестировать на строке

    start hello python world

In [23]:
s = '    start hello python world'
m = s.find('he')
n = s.find('on')
print(s[m:n+2])

hello python

24) Используя цикл for и функцию enumerate() (см. лекцию 2) вывести произвольную строку на экран и при этом убрать все пробелы и на их месте вывести номер слова по счету

Пример.

Исходная строка:

hello hello Hello hello

выведено на экран:

hello1hello2Hello3hello4

25) Сформировать строку форматирования, которая для вызова

format('val1', 'val2', 'val3')

будет возрващать следующий результат:

val3-val2-val1-val2-val3

26) Сформировать строку форматирования fs, которая при использовании в нижеследующем коде приводит к формированию таблицы, выведенной в следующей ячейке.

In [8]:
print('0123456789' * 4)
fs = '' # задайте тут свою строку форматирования
print(fs.format(453, 59.058, 1, line=1))
print(fs.format(123453, 159.0, 7, line=5))
print(fs.format(-12, -159.099, 16, line=15))
print(fs.format(1200, -1059.099, 255, line=105))

0123456789012345678901234567890123456789

In [6]:
print("""
0123456789012345678901234567890123456789
|   1 | ###59.06|      453 | 00000001 |
|   5 | ##159.00|  123,453 | 00000111 |
|  15 | #-159.10| -     12 | 00010000 |
| 105 | -1059.10|    1,200 | 11111111 |
""")

0123456789012345678901234567890123456789
|   1 | ###59.06|      453 | 00000001 |
|   5 | ##159.00|  123,453 | 00000111 |
|  15 | #-159.10| -     12 | 00010000 |
| 105 | -1059.10|    1,200 | 11111111 |